
/* __STRETCH GOAL:__ Use CSS style classes vs element names to do your styling, except for adding the margin to the `body`. 
That is a good thing to add to every CSS file, and it should use the `body` HTML tag name. */

body {
    background-image: url('record.png');
    background-repeat: repeat;
    margin: 0;
}

header {
    background-color:darkslategray;
    color:lightskyblue;
    text-align: center;
}
main {
    background-color: lightgrey;
    padding: 1em;
}