
/* __STRETCH GOAL:__ Use CSS style classes vs element names to do your styling, except for adding the margin to the `body`. 
That is a good thing to add to every CSS file, and it should use the `body` HTML tag name. */

body {
    margin: 0;
}

.body-wrap {
    background-image: url('record.png');
    background-repeat: repeat;
    position: fixed;
    width: 100%;
    height: 100%;
}

.header-wrap {
    background-color:darkslategray;
    color:lightskyblue;
    text-align: center;
}
.main-wrap {
    background-color: lightgrey;
    padding: 1em;
}